body{
  background-color:#212121;
}

div#logo{
  padding-left:2%;
  padding-right:2%;
  padding-top:2%;
  width:350px;
}

div#tab{
}

img#logo.img-responsive{
  padding:3%;
  width:400px;
}

div#ico{
  width:200px;
  height:150px;
}

img#img1.img-responsive{
  width:100px;
}

img.img-responsive{
  width:100px;
}

div#ico1{
  width:200px;
}

div#SUBS{
  width:90%;
  padding-top:2%;
}

img#logo{
  padding-top:2%;
}

