div.tab{
  overflow:hidden;
  border:1px;
}

div.tab button{
  background-color:inherit;
  float:left;
  border:none;
  outline:none;
  cursor:pointer;
  padding:14px 16px;
  transition:0.3s;
  font-size:17px;
}

div.tab button:hover{
}

div.tab button.active{
}

.tabcontent{
  display:none;
  padding:6px 12px;
  border:1px;
  border-top:none;
}

